.modal-open {
   background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    margin-left: 5vh;
}

.modal-container_child {
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1em;
    size: fit-content;
}

.rdrDefinedRangesWrapper {
  display: none;
}
